<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat|Russo+One|Space+Mono" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/styles.css" />
</head>
    <body>

        <div class="container">
            @RenderBody()
        </div> 


        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
        <script src="/Scripts/scripts.js"></script>
    </body>
</html>
